*{
    margin: 0;
    padding: 0;
}
body {
    background: url('photo/Фон.jpeg') no-repeat;
    background-size: cover; 
    top: 0;
    left: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    position: fixed;
    padding: 30px 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar a:focus {
    outline: none;
    box-shadow: 0 0 0 2px #0066cc; 
}


main {
    padding: 80px 20px; 
}

h2 {
    font-size: 36px;               
    color: #fff;                    
    background-color: #484848;
    background-color:;      
    padding: 15px 30px;             
    border: 3px solid #e74c3c;     
    border-radius: 8px;             
    text-transform: uppercase;      
    text-align: center; 
    margin-top: 200px;
    margin-bottom: 5px;   
    
}

.news-item {
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.news-item h3 {
    font-size: 24px;
    color: #0066cc;
    margin-bottom: 15px;
    font-weight: 500;
}

.news-item p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
}



.footer {
    margin: 50px 0 0 0;
    top: 0;
    left: 0;
    background:  #000000;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.social-icon,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
    display: flex;
    margin: 0 15px;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
}
